<li id="post-<%= post._id %>">
  <%=post.content%>
    <% if(locals.user && locals.user.id==post.user.id){ %>
      <a class="delete-post-button" href="/post/delete-post/<%=post.id%>"><i class="fa fa-times-circle"></i></a>
      <%}%>
        <br>
        <small>
          <%= post.user.name%>
        </small>
        <div id="comment-section">
          <% if(locals.user) { %>
            <form action="/comment/create-comment" class="new-form-comments" method="post">
              <input type="text" cols="30" rows="3" name="content" placeholder="Type your comment here ..." required>
              <input type="hidden" name="post" value="<%= post._id %>">
              <button type="submit">Add Comment</button>
            </form>
            <% } %>

              <div id="post-comment-list">
                <ul id="post-comment-<%= post._id %>">
                  <% for (comment of post.comments) { %>
                    <%- include('__comments'); %>
                      <%}%>
                </ul>
              </div>
        </div>
</li>